---

{created-at-block}meta_created_at: {created-at}{end-created-at-block}
{updated-at-block}meta_last_updated_at: {updated-at}{end-updated-at-block}
{source-url-block}meta_source_url: {source-url}{end-source-url-block}
{location-block}meta_location: {location}{end-location-block}

{tags-block}tags: {tags}{end-tags-block}

---

{created-at-block}meta_created_at: {created-at}{end-created-at-block}

{updated-at-block}meta_last_updated_at: {updated-at}{end-updated-at-block}

{source-url-block}meta_source_url: {source-url}{end-source-url-block}


{title-block}# {title}{end-title-block}


{content-block}{content}{end-content-block}
